{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>

    <link rel="stylesheet" href={% static 'styles/painel.css'%}>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src={% static 'js/sweetalert.min.js'%}></script>

</head>

<body>
    <div class="cal-container">
        <div class="cal-filter">      
            {{form.filtroAmbiente}}        
        </div>   
        <div class="cal-header">
            <div> </div>
            <div><i class='bx bx-calendar-week'></i>Segunda</div>
            <div><i class='bx bx-calendar-week'></i>Terça</div>
            <div><i class='bx bx-calendar-week'></i>Quarta</div>
            <div><i class='bx bx-calendar-week'></i>Quinta</div>
            <div><i class='bx bx-calendar-week'></i>Sexta</div>
            <div><i class='bx bx-calendar-week'></i>Sábado</div>
        </div>   
        <div id="cal-events">            
        </div>
    </div>

    <div class="cal-container-modal" data-cal-show="false">
        <div class="cal-modal">
            <div class="cal-modal-top">
                <span class="cal-badge"><i class='bx bx-chevrons-right'></i>Novo Evento</span>
            </div>
            <div class="cal-info"></div>  
            <form id="cal-form" method="POST">
              {% csrf_token %}    
              <div class="cal-row">

                  <div class="cal-column">  
                     {{form.inicio.label_tag}}         
                     {{form.inicio}}
                  </div>  

                  <div class="cal-column"> 
                    {{form.fim.label_tag}}     
                    {{form.fim}}
                  </div>  

                  <div class="cal-column">      
                      <label for="cal-aulas">Aulas (45 min)</label>          
                      <input type="number" step="any" value="0" min="0" max="10" id="cal-aulas" class="cal-sel-aulas"/>
                  </div>

              </div>
                  
              <div class="cal-row">
                  <div class="cal-column">           
                      {{form.docente.label_tag}}        
                      {{form.docente}}
                  </div>
              </div>
              <div class="cal-row">
                  <div class="cal-column">                               
                      {{form.diasemana.label_tag}}  
                      {{form.diasemana}}
                  </div>
              </div>
              <div class="cal-row">
                  <div class="cal-column">           
                        {{form.turma.label_tag}}        
                        {{form.turma}}
                  </div>
              </div>
              <div class="cal-row">
                  <div class="cal-column">           
                        {{form.ambiente.label_tag}}        
                        {{form.ambiente}}
                  </div>
              </div>
              <div class="cal-row">
                  <div class="cal-column">           
                    {{form.etiqueta.label_tag}}        
                    {{form.etiqueta}}
                  </div>
              </div>   
              <div class="cal-row cal-justify-end">
                  <button type="submit" class="cal-btn" id="cal-alocar"><i class='bx bx-check-circle'></i> Guardar</button>
              </div>  
            </form>         
        </div>
    </div>   

  
    <script src={%static 'js/events.js'%}></script>
    <script src={%static 'js/modal.js'%}></script>

    <script>   
        let filtroAmbiente = []
        let data = JSON.parse('{{ eventos|escapejs }}')
        let msg = '{{ msg|escapejs }}'
        
        if(msg){
            showToast(msg)
        }
        else{
            showToast("Atualizado","<i class='bx bx-check-circle'></i>")
        }

        function load(){        
            data.forEach((dt, index) => {
        
                if(filtroAmbiente.includes(dt.ambiente) || filtroAmbiente.length == 0){

                    let event = {
                        codigo : dt.codigo,
                        startHourUnformat: dt.inicio,
                        endHourUnformat: dt.fim,
                        startHourPad: String(dt.inicio).split(':')[0].padStart(2,"0"),
                        startMinutesPad: String(dt.inicio).split(':')[1].padStart(2,"0"),
                        endHourPad: String(dt.fim).split(':')[0].padStart(2,"0"),
                        endMinutesPad: String(dt.fim).split(':')[1].padStart(2,"0"),
                        startHours: Number(String(dt.inicio).split(':')[0]),
                        startMinutes: Number(String(dt.inicio).split(':')[1]),
                        endHours: Number(String(dt.fim).split(':')[0]),
                        endMinutes: Number(String(dt.fim).split(':')[1]),
                        docente: dt.docente,
                        turma: dt.turma,
                        etiqueta: dt.etiqueta,
                        ambiente: dt.ambiente,
                        diaSemana: dt.diasemana,
                        codAmbiente: dt.codAmbiente              
                    }

                    let colSemana = document.getElementById(`${event.diaSemana}`)
                    
                    if(colSemana){
                        let colAmbiente = document.getElementById(`cal-nc${event.diaSemana}-${event.codAmbiente}`)
                        const newEvent = document.createElement("div")
                        newEvent.classList.add("cal-event")
                        newEvent.id = event.codigo
                        newEvent.style.backgroundColor = event.etiqueta +"b4"
                        newEvent.style.borderLeft = `4px solid ${event.etiqueta}`

                        newEvent.addEventListener("dblclick", () => {   

                            swal({
                            title: "Tem certeza ?",
                            text: `O evento no ambiente ${event.ambiente} das ${event.startHourUnformat} até ${event.endHourUnformat} será permanentemente excluido!`,
                            icon: "warning",
                            buttons: true,
                            dangerMode: true,
                            })
                            .then((willDelete) => {
                            if (willDelete) {
                                const csrfToken = getCSRFToken();

                                fetch('/painel?id='+event.codigo, 
                                {
                                    method:'DELETE',
                                    headers: {
                                        'X-CSRFToken': csrfToken,
                                        'Content-Type': 'application/json',
                                    }
                                })
                                .then(response => {
                                    if(response.status == 200){                            
                                        document.getElementById(event.codigo).remove()
                                        showToast("Excluído com sucesso!","<i class='bx bx-check-circle'></i>")
                                    }
                                    else{
                                        showToast("Não foi possível deletar!","<i class='bx bx-error' ></i>")
                                    }
                                })
                                .catch(error => {
                                    console.log(error)
                                    showToast("Falha na comunição com o servidor!","<i class='bx bx-error' ></i>")
                                })

                            }
                            });                

                        
                        })

                        let startTop = (event.startHours - 7) * 5.88    
                        let startMinTop = event.startMinutes * 0.1
                        startTop += startMinTop
                        newEvent.style.top = startTop+"%" 

                        //Calcula a diferenca de horas
                        let horaspx = (event.endHours - event.startHours) * 5.88

                        //encontra o percentual dos minutos
                        let minutospx = event.endMinutes * 0.1  

                        let hmfinal = horaspx + minutospx
                        hmfinal -= startMinTop

                        newEvent.style.height = "calc("+hmfinal+"%)"                   


                        newEvent.innerHTML = `
                            <div class="cal-textHour"> ${event.startHourUnformat} - <strong>${event.endHourUnformat}</strong></div>
                            <div class="tooltip"> <i class='bx bx-group'> </i>${event.ambiente}
                                <span class="tooltiptext">${event.docente} - ${event.turma}</span>
                            </div>    
                        `

                        if(colAmbiente) {         
                            colAmbiente.appendChild(newEvent)
                        }
                        else{
                            const newColAmbiente = document.createElement("div") 
                            newColAmbiente.id = `cal-nc${event.diaSemana}-${event.codAmbiente}`
                            newColAmbiente.classList.add("cal-colHour")

                            newColAmbiente.appendChild(newEvent)
                            colSemana.appendChild(newColAmbiente)   
                        }
                    }
                }
            }); 
        }



        function getCSRFToken() {
            const cookies = document.cookie.split(';');
            for (const cookie of cookies) {
                const [name, value] = cookie.trim().split('=');
                if (name === "csrftoken") {
                    return decodeURIComponent(value);
                }
            }
            return null;
        }


        function showToast(msg = "Sem mensagem", fontIcon = "") {
            var body = document.querySelector("body")
            var toast = document.createElement("div")
            toast.id = "snackbar"            
            toast.className = "show";
            toast.innerText = msg
            toast.innerHTML = msg+" "+fontIcon
            body.appendChild(toast)

            setTimeout(function(){                
                body.removeChild(toast)
            }, 3000);

          }

        function removerTodosAmbientes(){
            document.querySelectorAll(".cal-colDay > div").forEach(node => {
                node.remove() 
            })
        }

        document.querySelector("#cal-filtroAmbiente").addEventListener('change',(e) => {

            let exists = filtroAmbiente.indexOf(e.target.value)
            if(exists >= 0){
                delete filtroAmbiente[exists]
            }
            else{
                filtroAmbiente.push(e.target.value)
            }

            removerTodosAmbientes()
            load()

           
        })


        load()

          
    </script>
    
  
</body>
</html>