{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise</title>
    <style>
        
        /**Customizado*/
        #wdr-toolbar-wrapper #wdr-toolbar li a svg, 
        #wdr-toolbar-wrapper #wdr-toolbar li a svg path{
            height: 25px;
        } 
    
        #wdr-component{
            height: 95vh!important;
        }

    </style>
</head>
<body>
    <div id="wdr-component"></div>
    <link href={% static 'assets/webdatarocks-1.4.7/webdatarocks.min.css' %} rel="stylesheet" />
    <script src={% static 'assets/webdatarocks-1.4.7/webdatarocks.toolbar.min.js' %}></script>
    <script src={% static 'assets/webdatarocks-1.4.7/webdatarocks.js' %}></script>
    <script>

        let dataJSON = JSON.parse('{{ eventos|escapejs }}')

        var pivot = new WebDataRocks({
            container: "#wdr-component",
            beforetoolbarcreated: customizeToolbar,
            toolbar: true,
            report: {
                dataSource: {
                    data: dataJSON
                },
                localization: "{% static 'assets/webdatarocks-1.4.7/pr.json' %}"
            }
        });


        function customizeToolbar(toolbar) {
            var tabs = toolbar.getTabs(); // get all tabs from the toolbar
            toolbar.getTabs = function() {
                delete tabs[0]; // delete the first tab
                delete tabs[1]
                delete tabs[2]
                return tabs;
            }
        }
    </script>
</body>
</html>